body {
  font-family: 'Open Sans', sans-serif;
  font-family: "robotoRegular";
  font-size: 16px;
  text-align: center;
  margin: 0 auto;
  float: none;
  padding-top: 50px;
  background-color: #0097A7; /**or #00838f **/
}

h1 {
  font-size: 36px;
  font-family: $open-sans;
  font-weight: 300;
  margin-top: 2rem;
  margin-bottom: 1.0rem;
  line-height: 1; 
    text-align: center;
    animation: 1s flash;
    animation-iteration-count: infinite;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 16px;
}

article { 
    position: relative;
          
}

.profile_pic{
    border-radius: 45%;
    align-content: center;
}

hr {
    width: 75%;
    background-color: gold;
    margin-left: auto;
    margin-right: auto;
}

/** Navigation Bar with links **/

#topnav{
	display: block;
	width: 100%;
	margin:0;
	padding:0 0 5px 0;
	text-align: center;
	}

.fa {
    animation: 1s flash;
    animation-iteration-count: infinite;
}

@keyframes blinker {
  50% {
    opacity: 0.0;
  }
}

@keyframes flash{
  0% {
    text-shadow: 0px 0px 5px yellow;
  }
  50% {
    text-shadow: none;
  }
  100% {
    text-shadow: 0px 0px 5px gold;
  }
}

#topnav, #topnav a{
	text-transform: none;
	color:#000000;
	background-color: #0097A7;
    font-weight:700;
	}

#topnav a:hover, #topnav li.active a{
	color: gold; /* #55ABDA or #FF0066*/
	background-color: #0097A7;
	}

#topnav ul, #topnav li{
	margin: 0;
	padding:0;
	list-style:none;
    align-content: center;
    margin-top: 12px;
	}

#topnav li{
	display:inline;
	margin-right: 30px;
	}

#topnav li.last{
	margin:0;
	}

/** Weekly entries **/
.accordion {
    background-color: #0097A7;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 20px;
    font-weight: bold;
    position:relative;
    transition: 0.4s;
}

.accordion.active, .accordion:hover {
    background-color: #55ABDA;
    color: gold;
}

.accordion:before{
  content: '[+] ';
}

.accordion.active:before{
  content: '[-] ';
}

.panel {
    padding: 0 18px;
    background-color: #0097A7;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    
}

div.panel.show {
  opacity: 1;
  max-height: 500px;
}